<div class="container">
    <br>
    <h1>Pipes</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{name}}</td>
                <td>uppercase</td>
                <td>{{name|uppercase}}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>{{name}}</td>
                <td>lowercase</td>
                <td>{{name|lowercase}}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>{{name}}</td>
                <td>slice:2:5</td>
                <td>{{name|slice:2:5}}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{{arr}}</td>
                <td>slice:2:5</td>
                <td>{{arr|slice:2:5}}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{{PI}}</td>
                <td>number</td>
                <!-- An integer and two decimals -->
                <td>{{PI|number:'1.0-2'}}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{{PI}}</td>
                <td>percent</td>
                <!-- A integer, min one from 2 to 4 decimal -->
                <td>{{PI|percent:'2.2-4'}}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{{PI}}</td>
                <td>currency</td>
                <!-- National coin ISO-4217 -->
                <td>{{PI|currency:'EUR':true:'4.0-0'}}</td>
            </tr>
        </tbody>
    </table>
    <h4>Slice</h4>
    <ul>
        <Li *ngFor="let item of arr | slice:2:5">{{item}}</Li>
    </ul>
</div>